.middle_section{
    background-color: var(--primary-black);
    border-radius: 60px 60px 0 0;
    padding: 2.3rem 0rem 0rem 0rem;
    width: 100%;
}

.mid_titlebar{
    /* display:flex; */
    display:grid;
    grid-template: ". title menu_bar";
    align-items: center;
}

.mid_title{
    grid-area: title;
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
    white-space: nowrap;
    /*right: calc(100% - 50%);*/
   
}

.mid_menu{
    grid-area: menu_bar;
    justify-self: center;
    display: flex;
    flex-direction: row;
    /* justify-items: space-around; */
    align-items: center;
}

.menu{
    padding: 0.5rem;
    /* justify-self: space-around; */
}

.pref-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.pref-btn:focus{
    border-bottom: 2px solid var(--light-blue-border);
}

.sunny > img ,.snowflake > img {
    animation: roll 10s infinite;
}

.rainy > img {
    animation:swing 5s infinite;
}

.display_top{
    font-weight: lighter;
}

.display_count > input{
    width: 2.3rem;
    height: 1rem;
    background-color: var(--bg-input-box);
    border: none;
    outline: none;
    color: var(--primary-white);
    font-weight: lighter;
}

.display_count > input[type=number]::-webkit-inner-spin-button {
    width: 0.5rem;
    color: var(--bg-input-box);
    opacity: 0.5; 
    
}

/*
.mid_title{
    display: inline-block;
    
    display:flex;
    justify-content:center;
    font-size: 1.5rem;
    font-weight: lighter;
    width: 100%;
    //justify-self: center; 
}

.mid_menu{
    display: inline-block;
    flex:1;
    display:flex;
    justify-content:flex-end;
    // justify-self: flex-end; 
    // margin-right: 0px; 
    
}
*/

.top_cities{
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.arrow-button{
    border: none;
    border-radius: 50%;
    background-color: var(--secondary-white);
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    outline: none;
}

.arrow-button:hover{
    box-shadow: 0px 0px 7px 10px var(--bg-grey-tile);
    width: 3.7rem;
    height: 3.7rem;
}

.arrow-button > img{
    width: 2.5rem; 
    align-self: center;
}

.forward{
    justify-self: right;
}

.city_card_container{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.city_card_container::-webkit-scrollbar {
    display: none;
}

.citycard{
    min-width: 17rem;
    height: 15rem;   
    box-shadow: 0px 0px 10px 10px var(--bg-grey-tile);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.citycard > div{
    padding: 0.5rem 0;
}

.card_row1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.row1-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card_row1 .weather_icon{
    padding: 0 0.3rem;
    display: flex;
    align-items: center;
    
}
.card_row1 .weather_icon>img{
    width: 1.5rem;
}

.card_humidity,.card_precipitation{
    display: flex;
    align-items: center;
    font-weight: lighter;
}

.card_humidity > img,.card_precipitation > img{
    padding-right: 0.5rem;
}

.card_city_icon{
    justify-self: right;
    
}
    
.card_city_icon > img{
    width: 13rem;
    position: absolute;
    right: -50px;
    bottom: 10px;
     
}


.citycard:hover{
    
    background-color: var(--primary-white);
    color: var(--primary-black);
    border: 1px solid var(--primary-white);
    /*border-radius: 15%;*/
    transform: scale3d(1.1,1.1,1) translate3d(0,0,100px);
    transition: transform 1s;
    transform-style: preserve-3d;
    overflow: visible;
    box-shadow: 0px 0px 20px 30px var(--bg-grey-tile);
    z-index: 1;
    
}

.citycard:hover > .card_city_icon img{
    right: 0rem;
    bottom: 1.25rem;
    z-index: -1;
    /*animation: rotate 10s infinite;*/
}


/* Rolling circular animation for Sunny and Snowflake */

@keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* Rotating City Icons like 3D*/
@keyframes rotate{
    0% {
        transform: rotate(0);
    }
    100%{
        
    }
}

/* Swinging front and back animation for Clouds*/

@keyframes swing {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(360deg);
    }
}
  
/*For Small Screen mobile phones*/

@media only screen and (max-width: 650px) {
    .mid_titlebar{
        grid-template: "title"
                       "menu_bar";
        justify-items: center;         
        row-gap: 1rem;
    }

    .mid_menu{
        justify-self: center; 
    }

    .top_cities{
        grid-template-columns: 2rem 1fr 2rem;
    }

    .arrow-button{
        width: 1.7rem;
        height: 1.7rem;
    }

    .arrow-button > img{
        width: 1rem;
    }

    .city_card_container{
        padding-top: 0rem;
    }

    .citycard{
        min-width: 13rem;
        height: 15rem;   
        font-size: 1rem;
        box-shadow: 0px 0px 7px 7px var(--bg-grey-tile);
        padding: 0.8rem;
        margin: 1rem;
    }
    
    .citycard:hover{
        transform: none;
    }

    .card_row1{
        font-size: 1.2rem;
    }

    .card_row1 .weather_icon>img{
        width: 1rem;
    }
    
    .card_city_icon > img{
        width: 10rem;
    }
}
