.middle_section{
    background-color: var(--primary-black);
    border-radius: 60px 60px 0 0;
    min-height: calc(100vh - 0px);
    padding: 2.3rem 0rem 0rem 0rem;
    width: 100%;
}

.mid_titlebar{
    /* display:flex; */
    width: 100%;

    display:grid;
    grid-template: auto / 3fr 1.8fr;
    
}

.mid_title{
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
    font-weight: lighter;
    
    white-space: nowrap;
    /*right: calc(100% - 50%);*/
   
}

.mid_menu{
    justify-self: end;
    width: 15rem;
    display:flex;
    justify-content: flex-end;
    padding-right: 4rem;
    /* justify-items: space-around; */
    align-items: center;
}

.menu{
    padding: 0.5rem;
    /* justify-self: space-around; */
}

.sunny{
    border-bottom: 2px solid var(--light-blue-border);
}

.display_top{
    font-weight: lighter;
}

.display_count > input{
    width: 2.3rem;
    height: 1rem;
    background-color: var(--bg-input-box);
    border: none;
    outline: none;
    color: var(--primary-white);
    font-weight: lighter;
}

.display_count > input[type=number]::-webkit-inner-spin-button {
    width: 0.5rem;
    color: var(--bg-input-box); /*Arrow bg color not changing*/
}

/*
.mid_title{
    display: inline-block;
    
    display:flex;
    justify-content:center;
    font-size: 1.5rem;
    font-weight: lighter;
    width: 100%;
    //justify-self: center; 
}

.mid_menu{
    display: inline-block;
    flex:1;
    display:flex;
    justify-content:flex-end;
    // justify-self: flex-end; 
    // margin-right: 0px; 
    
}
*/

.top_cities{
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    align-items: center;
    padding: 1rem;
}

.arrow{
    
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--secondary-white);
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.arrow_bg{
    align-self: center;
}

.arrow_bg > img{
    width: 2.5rem;
}

.forward{
    justify-self: right;
}

.city_card_container{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.citycard{
    min-width: 17rem;
    height: 15rem;   
    background-color: var(--bg-dark-grey-tile); 
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    position: relative;
    white-space: nowrap;
}

.citycard > div{
    padding: 0.5rem 0;
}

.card_row1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 1.5rem;
}

.row1-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card_row1 .weather_icon{
    padding: 0 0.3rem;
    display: flex;
    align-items: center;
    
}
.card_row1 .weather_icon>img{
    width: 1.5rem;
}

.card_humidity,.card_precipitation{
    display: flex;
    align-items: center;
    font-weight: lighter;
}

.card_humidity > img,.card_precipitation > img{
    padding-right: 0.5rem;
}

.card_city_icon{
    justify-self: right;
}
    
.card_city_icon > img{
    width: 13rem;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}


