/* For LARGE SCREENS Laptops */

/*Entire Top Section*/
.top_section {
    display:grid;
    grid-template-areas:"city_time weather_details timeline";
    grid-gap: 0.8em;
    padding: 1.2rem 0;
}

/* Module 1: City Selector Time and Date display*/
.city_time{
    grid-area: city_time;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    
}

.time_date {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;   
    white-space: nowrap;
}

.city_selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width:100%;
}

.city_icon {
    width: 5rem;
}

.city_icon > img{
    max-width: 100%;
}

.city_list>input {
    max-width: 15rem;
    max-height: 5rem;
    background-color: var(--bg-input-box);
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--primary-white);
    font-weight: 100;
    font-size: 2.5rem;
    padding: 1rem;
    margin-left: 1rem;
}

.city_list::-webkit-calendar-picker-indicator {
    /*   display: none; */
    font-size: 0.5em;
    color: var(--secondary-white);
}

.time{
    color: var(--pale-yellow-text); 
}

#hr_min{
    font-size: 2rem;
}

#seconds{
    font-size: 1.25rem;
}

.am_pm{
    width: calc(100% / 4em);
    height: 4em;
    padding:0 0 0 1rem;
    /*icon need to be placed little bit down*/ 
    color: var(--pale-yellow-text);    /*Not Working*/
}

.date{
    font-size: 1.8rem;
}


/* Module:2  Main Weather Report of Selected City*/

.weather_details{
    grid-area: weather_details;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    font-size: 2rem;
    font-weight: 100;
}

.weather{
    padding: 0.1rem 1rem 0.1rem 1rem;
    position:relative;
    white-space: nowrap;
}

.humidity::before , .precipitation::before{
    content: "";
    position: absolute;
    left: 0;
    top: 5%;
    height: 80px;
    border-left: 0.1rem dotted var(--secondary-white);
    
}

/* Module:3 Hourly Weather Report*/

.timeline {
    grid-area: timeline;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 1.3rem;    
    overflow: hidden;
}

.timeline_hr_container {
    display: grid;
    grid-template-columns: 6rem 2rem;
    grid-template-rows: 2rem 2rem 3.5rem 1.5rem;
    grid-template-areas:"hr ."
                        "in sep"
                        "ic ."
                        "val ." ;
    grid-row-gap: 0.1rem;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-items: center;
}


.w_hr {
    grid-area: hr;
}
.w_indicator {
    grid-area: in;
    font-weight: bold;
}
.w_icon {
    grid-area: ic;
    width: 3rem;
}
.w_value {
    grid-area: val;
    font-weight:normal;
}
.w_time_separator {
    grid-area: sep;
}


/*For SMALL SCREEN Laptops*/

@media only screen and (max-width: 1310px) {

    .top_section {
        display:grid;
        grid-template-areas: "city_time weather_details" 
                             "timeline timeline";
        row-gap: 1rem;
        
    }

    .city_time{
        display: grid;
        grid-template-columns:auto auto;
        grid-template-rows: auto;
        grid-column-gap: 0;
    }

    .city-selector {
        max-width: 10rem;
    }
    .city_icon {
        width : 4rem;
    }

    .city_list>input {
        max-width: 15rem;
    }

    #hr_min {
        font-size: 1.5rem;
    }
    #seconds {
        font-size: 1rem;
    }

    .am_pm {
        width: 3rem;
        height: 3rem;
    }
    .date{
        font-size:1.5rem;
    }

    .weather_details {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        font-size: 1.5rem;
        padding: 1.4rem 0;

    }
    
    .humidity::before , .precipitation::before{
        height: 65px;
    }

    .temp_fah::before{
        content: "";
        position: absolute;
        left: 0;
        top: 5%;
        height: 65px;
        border-left: 0.1rem dotted var(--secondary-white);
        
    }

    .timeline {
        font-size: 1rem;
        overflow: hidden;
    } 

    .timeline_hr_container {
        width: 7rem;
    }   

}

/*For Tablets and Large phones*/

@media only screen and (max-width: 1035px) {

    .top_section {
        grid-template: "city_time"
                       "weather_details"
                       "timeline";
    }
    
    .timeline {
        font-size: 0.7rem;
    } 
    
    .timeline_hr_container {
        width: 6rem;
    }   
    
}

/*For Small Screen mobile phones*/

@media only screen and (max-width: 600px) {

    .city_time {
        grid-template: auto auto / auto ;
    }
    .time_date {
        flex-direction: row;
        justify-content: space-around;
    }
    .city-selector{
        display: flex;
        justify-items: center;
    }
    
    .city_list>input {
        font-size: 2rem;
        padding: 0.5rem;
    }

}
