.grid-container {
    display:grid;
    grid-template: auto / 30% 25% 1fr;
    grid-gap: 0.8em;
    
}

.grid-container > div {
    background-color: rgba(98, 98, 99, 0.3);
   
}

.city_time{
    display: flex;
    flex-direction: column;
}

.city_selector{
    display: flex;
    flex-direction: row;
}

.city_selector img {
    
   
    max-width: 30%;
}

.city_selector input{
    
    background-color: var(--bg-input-box);
    border: none;
    color: var(--primary-white);
    cursor: pointer;
    font-size: 2.5rem;
    max-width: 55%;
    margin: 1.5rem;
    margin-top: 3rem;
    outline: none;
    padding: 0.3em;
}

.city_selector input::-webkit-calendar-picker-indicator {
    /*   display: none; */
    font-size: 0.5em;
    color: var(--secondary-white);
}

.time_date{
    display: flex;
    flex-direction: column;
    
}

.time{
    color: var(--pale-yellow-text);
    display: flex;
    justify-content: flex-end;
}

.time{
    align-items:flex-end;
    
    padding: 0 4.5rem;
    
}

#hr_min{
    font-size: 2rem;
    flex-wrap: nowrap;
}

#seconds{
    font-size: 1.25rem;
    padding-bottom: 0.4rem;
}

.time img{
    width: 4em;
    height: 4em;
    padding: 0 1em;
    padding-bottom: 0.2em;
    color: var(--pale-yellow-text);    /*Not Working*/
}

.date{
    color: var(--primary-white);
    
    justify-content: flex-end;
    font-size: 1.2em;
    padding: 0.3em 8.3em;
}

.weather_details{
    display: grid;
    grid-template-columns: auto auto;

    color: var(--primary-white);
    padding: 1rem;
}

.weather{
    padding: 0.1rem 1rem 0.1rem 1rem;
    position:relative;
    justify-content: space-between;
    
}

.humidity, .precipitation {
    padding-left: 1.7rem;
}


.humidity::before , .precipitation::before{
    content: "";
    position: absolute;
    left: 0;
    top: 20%;
    height: 80px;
    border-left: 0.1rem dotted var(--secondary-white);
    
}