/* For LARGE SCREENS Laptops */

/*Entire Top Section*/
.top-section {
    display:grid;
    grid-template-areas:"city-time weather-details timeline";
    grid-gap: 0.8em;
    padding: 1.2rem 0;
}

/* Module 1: City Selector Time and Date display*/
.city-time{
    grid-area: city-time;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    
}

.time-date {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;   
    white-space: nowrap;
}

.city-selector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width:100%;
}

.city-icon {
    width: 5rem;
}

.city-icon > img{
    max-width: 100%;
}

.city-list>input {
    max-width: 15rem;
    max-height: 5rem;
    background-color: var(--bg-input-box);
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--primary-white);
    font-weight: 100;
    font-size: 2.5rem;
    padding: 1rem;
    margin-left: 1rem;
}

.city-list::-webkit-calendar-picker-indicator {
    /*   display: none; */
    font-size: 0.5em;
    color: var(--secondary-white);
}

.time{
    color: var(--pale-yellow-text); 
}

#hr-min{
    font-size: 2rem;
}

#seconds{
    font-size: 1.25rem;
}

.am-pm{
    width: calc(100% / 4em);
    height: 4em;
    padding:0 0 0 1rem;    
}

.date{
    font-size: 1.8rem;
}


/* Module:2  Main Weather Report of Selected City*/

.weather-details{
    grid-area: weather-details;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    font-size: 2rem;
    font-weight: 100;
}

.weather{
    padding: 0.1rem 1rem 0.1rem 1rem;
    position:relative;
    white-space: nowrap;
}

.humidity::before , .precipitation::before{
    content: "";
    position: absolute;
    left: 0;
    top: 5%;
    height: 80px;
    border-left: 0.1rem dotted var(--secondary-white);
    
}

/* Module:3 Hourly Weather Report*/

.timeline {
    grid-area: timeline;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 1.3rem;    
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.timeline::-webkit-scrollbar {
    display: none;
}

.timeline-hr-container {
    display: grid;
    grid-template-columns: 6rem 2rem;
    grid-template-rows: 2rem 2rem 3.5rem 1.5rem;
    grid-template-areas:"hr ."
                        "in sep"
                        "ic ."
                        "val ." ;
    grid-row-gap: 0.1rem;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-items: center;
}


.w-hr {
    grid-area: hr;
}
.w-indicator {
    grid-area: in;
    font-weight: bold;
}
.w-icon {
    grid-area: ic;
    width: 3rem;
}
.w-value {
    grid-area: val;
    font-weight:normal;
}
.w-time-separator {
    grid-area: sep;
}


/*For SMALL SCREEN Laptops*/

@media only screen and (max-width: 1310px) {

    .top-section {
        display:grid;
        grid-template-areas: "city-time weather-details" 
                             "timeline timeline";
        row-gap: 1rem;
        
    }

    .city-time{
        display: grid;
        grid-template-columns:auto auto;
        grid-template-rows: auto;
        grid-column-gap: 0;
    }

    .city-selector {
        max-width: 10rem;
    }
    .city-icon {
        width : 4rem;
    }

    .city-list>input {
        max-width: 15rem;
    }

    #hr-min {
        font-size: 1.5rem;
    }
    #seconds {
        font-size: 1rem;
    }

    .am-pm {
        width: 3rem;
        height: 3rem;
    }
    .date{
        font-size:1.5rem;
    }

    .weather-details {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        font-size: 1.5rem;
        padding: 1.4rem 0;

    }
    
    .humidity::before , .precipitation::before{
        height: 65px;
    }

    .temp-fah::before{
        content: "";
        position: absolute;
        left: 0;
        top: 5%;
        height: 65px;
        border-left: 0.1rem dotted var(--secondary-white);
        
    }

    .timeline {
        font-size: 1rem;
        overflow: hidden;
    } 

    .timeline-hr-container {
        width: 7rem;
        grid-template-columns: 4rem 3rem;
    }   

}

/*For Tablets and Large phones*/

@media only screen and (max-width: 1036px) {

    .top-section {
        grid-template: "city-time"
                       "weather-details"
                       "timeline";
    }
    
    .timeline {
        font-size: 0.7rem;
    } 
    
    .timeline-hr-container {
        width: 6rem;
    }   
    
}

/*For mobile phones*/

@media only screen and (max-width: 600px) {

    .city-time {
        grid-template: auto auto / auto ;
    }
    .time-date {
        flex-direction: row;
        justify-content: space-around;
    }
    .city-selector{
        display: flex;
        justify-items: center;
    }
    
    .city-list>input {
        font-size: 2rem;
        padding: 0.5rem;
    }

}

/*For Small Screen mobile phones*/

@media only screen and (max-width: 515px) {
    .top-section {
        display:grid;
        grid-template-areas:"city-time"
                            "weather-details"
                            "timeline";
        
    }

    .timeline-hr-container {
        width: 6rem;
        grid-template-columns: 3rem 3rem;
    } 

    .weather-details{
        grid-template-columns: calc(100% / 2) calc(100% / 3);
        justify-self: center;
        row-gap: 1rem;
        align-items: center;
    }

    .temp-fah::before{
        border: none;
    }

    .weather{
        padding: 0.1rem 1rem 0.1rem 1rem;
    }
}