@import url(vars.css);
@import url(fonts.css);
@import url(top-section.css);

body{
    background-image: url(../assests/icons/general-icons/background.svg);
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   /* edge cropped */
}

